In [1]:
# HIDDEN

from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

cones = Table.read_table('cones.csv')
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [2]:
2 + 3

5

In [3]:
2 * 3

6

In [4]:
2 / 3

0.6666666666666666

In [5]:
2 * 3 + 6

12

In [6]:
(2 * 3) + 6

12

In [7]:
2 * (3 + 6)

18

In [8]:
# 2 * 2 * 2
2 ** 3

8

## Names ##

In [9]:
a = 10

In [10]:
a

10

In [11]:
b = 7

In [12]:
b

7

In [13]:
total = a + b

In [14]:
total

17

In [15]:
length = 10

In [16]:
width = 7

In [17]:
rectangle_area = length * width

In [18]:
rectangle_area

70

In [19]:
width = 15

In [20]:
width

15

In [21]:

rectangle_area

70

In [22]:
rectangle_area = length * width

In [23]:
rectangle_area

150

In [24]:
hours_per_week = 40
weeks_per_year = 52

In [25]:
total_hours = hours_per_week * weeks_per_year

In [26]:
total_hours

2080

In [27]:
ca_hourly_minimum_wage = 12.00

In [28]:
total_wages = total_hours * ca_hourly_minimum_wage

total_wages

24960.0

In [29]:
40 * 52 * 12

24960

In [30]:
40 * 52 * 9.50

19760.0

## Functions ##

In [31]:
abs(-5)

5

In [32]:
abs(length - width)

5

In [33]:
min(14, 15)

14

In [34]:
round(123.456)

123

In [35]:
round(123.456, 1)

123.5

## Tables ##

In [36]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [37]:
cones.show(3)

In [38]:
cones.show()

In [39]:
cones.select(Flavor)

NameError: name 'Flavor' is not defined

In [40]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [41]:
cones.select('Flavor', 'Color')

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [42]:
cones.drop('Color')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [43]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [44]:
cones_no_color = cones.drop('Color')

In [45]:
cones_no_color

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [46]:
cones.where('Flavor', are.equal_to('chocolate'))

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

In [47]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [48]:
cones.sort('Price', descending=True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75
chocolate  | light brown | 4.75
strawberry | pink        | 3.55

In [49]:
cones.sort('Flavor', descending=True)

Flavor     | Color       | Price
strawberry | pink        | 5.25
strawberry | pink        | 3.55
chocolate  | dark brown  | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75

In [50]:
# This table can be found online: 
# https://www.statcrunch.com/app/index.php?dataid=1843341

# NBA players, 2015-2016 season

nba

PLAYER           | POSITION | TEAM          | SALARY
Paul Millsap     | PF       | Atlanta Hawks | 18.6717
Al Horford       | C        | Atlanta Hawks | 12
Tiago Splitter   | C        | Atlanta Hawks | 9.75625
Jeff Teague      | PG       | Atlanta Hawks | 8
Kyle Korver      | SG       | Atlanta Hawks | 5.74648
Thabo Sefolosha  | SF       | Atlanta Hawks | 4
Mike Scott       | PF       | Atlanta Hawks | 3.33333
Kent Bazemore    | SF       | Atlanta Hawks | 2
Dennis Schroder  | PG       | Atlanta Hawks | 1.7634
Tim Hardaway Jr. | SG       | Atlanta Hawks | 1.30452
... (407 rows omitted)

In [51]:
nba.where('PLAYER', are.equal_to('Stephen Curry'))

PLAYER        | POSITION | TEAM                  | SALARY
Stephen Curry | PG       | Golden State Warriors | 11.3708

In [52]:
nba.where('TEAM', are.equal_to('Golden State Warriors')).show()

In [53]:
nba.where('POSITION', are.equal_to('PG')).sort('SALARY', descending=True).show(15)